*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  overflow: hidden;
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
}

#screen {
  position: absolute;
  width: 100%;
  height: 100%;
}

#screen .img {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

#screen .frame {
  position: absolute;
  width: 50%;
  height: 50%;
}

#images {
  display: none;
}
